body{
    width: auto;
    height: 100vh;

}
.user_card {
    height: 480px;
    width: 380px;
    margin-top: 25px;
    margin-bottom: auto;
    background: #bec4c6;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    opacity: 0.8;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    background: linear-gradient( rgba(3, 3, 3, 0.5), rgba(10, 10, 10, 0.5) ),url('src/assets/forgot.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blu8(100px);
   
}

form {
    width: 300px;
    margin: auto;
}

form div {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 12px;
}

.change-password-heading {
    text-align: center;
    color: rgb(19, 19, 199); 
    font-size: 28px;
}

#button1 {
    text-align: center;
    margin-top: 20px; 
}

#button1 button {
    padding: 10px 20px;
    background-color: rgb(44, 44, 197); 
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button1 button:hover {
    background-color: #0d24f1; 
}
.password-container {
    position: relative;
  }
  
  .password-container input[type="password"] {
    padding-right: 30px; 
  }
  
  .password-container i {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  
header {
    background-color: #776B5D;
    color: beige;
    padding: 10px;
    text-align: center;
}