<nav class="navbar navbar-expand-lg" id="nav">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <div>
          <img src="./assets/logofinal.png" class="logo">
      </div>
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#aboutus">{{data1}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">{{data2}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ser">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sol">Solutions</a>
          </li>
          
        </ul>
        <div class="d-flex">
          <a class="nav-link nav-login" href="/login">Login</a>
        </div>
        <div class="d-flex">
          <a class="nav-link nav-register" href="/register">Register</a>
          </div>

          

      </div>
    </div>
  </nav>
<app-slide></app-slide>
<app-title></app-title>
<app-aboutus></app-aboutus>
<app-service></app-service>

<app-solutions></app-solutions> 
<app-contactus></app-contactus>
