#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5)),
    url('src/assets/LandingPageBg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(100px);
}

.add-product-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5)),
    url('src/assets/LandingPageBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    /* width: 50%; */
  }
  
  .form-heading {
    margin-bottom: 20px;
    text-align: center;
    color: #495057;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #212529;
  }
  
  .form-group input {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    margin-top: 20px;
    display: block;
    width: 40%;
    padding: .375rem .75rem;
    border-radius: .25rem;
  }
  
  .btn-primary:disabled {
    background-color: #ced4da;
    border-color: #ced4da;
  }
  
  .dimension-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    color: #212529;
  }
  
  .dimension-content {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  