 .float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: calc(97% - 20px);
}

.overview-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    flex-grow: 3;
}

.inner--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.filter{
    top: 15%;

}

:host {
    display: block;
    height: 95%;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex-grow: 2;
}