<div style="display: flex;height: 100%;">
    <div style="display: flex;flex-grow: 3;justify-content: center;" id="plotDiv">
        <div class="inner-text-div" *ngIf='!isPlotClicked'>
            Click on a chart to get started
        </div>
    </div>
    <div class="plot-nav" >
        <div class="card">
            <button (click)='plotRobotCapacity()'>Compare Robot Carrying Capacity
            </button>
        </div>
        <div class="card">
            <button (click)='plotRobotWorkload()'>Monthly Robot Workload</button>
        </div>
    </div>
</div>
