

<div class="title-container">
  <div class="box">
      <img src="./assets/favicon.png" alt="">

    <h2>Inventory Management</h2>
    <p>Track stock levels, manage items, and optimize storage.</p>
  </div>

  <div class="box">
      <img src="./assets/favicon.png" alt="">
    <h2>Order Processing</h2>
    <p>Process incoming orders, pick and pack items, and manage shipments.</p>
  </div>

  <div class="box">
      <img src="./assets/favicon.png" alt="">
    <h2>Warehouse Analytics</h2>
    <p>Monitor performance, analyze data, and make informed decisions.</p>
  </div>
</div>


