
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 
    <div id="contact">
        <div class="text-overlay">
          <h1 class="center-text"><strong>{{title}}</strong></h1>
          <div class="subheading">
          {{desc}}
            </div>
            <div class="contact-info">
              <div>
                  <i class="fas fa-map-marker-alt"></i>
                  <p>
                    <strong>Ware-You-Go</strong><br>
                    <strong>Saravanampatti</strong><br>
                    <strong>Coimbatore,Tamil Nadu,641035</strong><br>
                    <strong>India</strong>
                  </p>
              </div>
              <div>
                  <i class="fas fa-phone"></i>
                  <p>
                    <strong>+919670912345</strong><br>
                      <strong>+91 22 4234 5678</strong>
                  </p>
              </div>
              <div>
                  <i class="fas fa-envelope"></i>
                  <p>
                      <strong> wareyougo@gmail.com</strong><br>
                      <strong>wareyougosupport@gmail.com</strong>
                  </p>
              </div>
          </div>
          
          </div>
 
    </div>
 
 
 