<body>
        <div class="maxContainer">
            <div class="section">
                <br>
                <br>
                 <div class="d-flex justify-content-center">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">
                            <h3 class="form-title text-center">REGISTER</h3>
                            
                        </div>
                        <div class="d-flex justify-content-center form_container">
                            <form #form="ngForm" (submit)="register()">
                                <div class="input-group mb-3 field">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <div>
        
                                        <input type="text" name="name" class="form-control input_user" placeholder="Name" [(ngModel)]="user.name" required #name="ngModel" minlength="3" maxlength="20">
                                             <div *ngIf="name.touched && name.invalid" class="error">
                                                <span *ngIf="name.errors?.required">Name is required.</span>
                                                <span *ngIf="name.errors?.minlength">Invalid Name.</span>
                                             </div>


                                        
                                      </div>
                                </div>
                                <div class="input-group mb-3 field">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-solid fa-envelope"></i></span>
                                    </div>
                                    <div>
        
                                        <input type="email" name="email" class="form-control input_user" placeholder="Email" [(ngModel)]="user.email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                             <div *ngIf="email.touched && email.invalid" class="error">
                                                <span *ngIf="email.errors?.required">Email is required.</span>
                                                <span *ngIf="email.errors?.pattern">Invalid Email.</span>
                                             </div>


                                        
                                      </div>
                                </div>
                                <div class="input-group mb-2 field">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <div>
                                    <input type="password" name="password" class="form-control input_pass" placeholder="password" [(ngModel)]="user.password" required  minlength="8">
                                    <div *ngIf="form.controls && form.controls['password'] && form.controls['password'].touched && form.controls['password'].invalid"
                                    class="error">Invalid password</div>
                                    </div>
                                </div>

                                <div class="input-group mb-3 field">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-solid fa-mobile"></i></span>
                                    </div>
                                    <div>
        
                                        <input type="number" name="mobileNumber" class="form-control input_user" placeholder="MobileNumber" [(ngModel)]="user.mobileNumber" required #mobileNumber="ngModel">
                                             <div *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error">
                                                <span *ngIf="mobileNumber.errors?.required">Number is required.</span>
                                                
                                             </div>
                               
                               </div>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <div>
                                    <select name="type" [(ngModel)]="user.userType">
                                        <option value="1">Admin</option>
                                        <option value="2">Manager</option>
                                        <option value="3">Operator</option>
                                        
                                    </select>
                                
                                </div>
                            </div>




                               
                                <div class="d-flex justify-content-center mt-3 login_container">
                                  <button type="submit" name="button" class="btn login_btn"> Request Access </button>
                              </div>
                              
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div> 
        </div>
    </body>
