<section> 
  <div class="rt-container">
    <div class="col-rt-12">
<!-- Slider -->
        <div id="slider">
          <div class="slides">
            <div class="slider">
              <div class="legend"></div>
              <div class="content">
                <div class="content-txt">
                  <h2>India's Best Inventory Management System</h2>
                  <p>At your convinience</p>
                </div>
              </div>
              <div class="image"> <img src="./assets/pic1.jpg"> </div>
            </div>
            <div class="slider">
              <div class="legend"></div>
              <div class="content">
                <div class="content-txt">
                  <h2>Empowering Efficiency: Your Inventory, Managed.</h2>
                  
                </div>
              </div>
              <div class="image"> <img src="./assets/pic.jpg"> </div>
            </div>
            <div class="slider">
              <div class="legend"></div>
              <div class="content">
                <div class="content-txt">
                  <h2>Seamless Integration, Effortless Inventory Management</h2>
             
                </div>
              </div>
              <div class="image"> <img src="./assets/final.jpg"> </div>
            </div>
            <div class="slider">
              <div class="legend"></div>
              <div class="content">
                <div class="content-txt">
                  <h2>Precision at Your Fingertips: Inventory Control Redefined.</h2>
                  
                </div>
              </div>
              <div class="image"> <img src="./assets/LandingPageBg.jpg"> </div>
            </div>
          </div>
          <div class="switch">
            <ul>
              <li>
                <div class="on"></div>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
       </div> 
 </div>          
</section>

    